<div class="summary">
  <ul class="picked-questions">
    <li ng-repeat="question in DataModel.pickedQuestions">
        <button
        ng-click="summary.editQuestion(question)"></button>
        <button></button>
        <input
        name="summary.questionDescription"
        type="text"
        placeholder="{{question.description}}" />
        <input
        type="checkbox"
        ng-model="checked"
        ng-disabled="checked"
        ng-click="summary.markAsAsked(question)"></button>
    </li>
  </ul>
</div>
