*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}


.wrapper {
  border: 10px solid $secondary-jcolor;
  min-height: 100%;
  padding: 10px;
  &-app {
    
  }
  &-crudy {

  }
}
