*, *:before, *:after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  font-weight: bold;
  &:hover, &:active, &:link {
    text-decoration: none;
  }
}

html, body {
  height: 100%;
}

#main-navbar {
  width: 100%;
  padding:0;
}

.category-sidebar {
  display: block;
  height: 82.5%;
  width: 220px;
  overflow: auto;
  position: fixed;
  background: darken($light-grey, 10);
  ul {
      @include zero_padding_margin();
      overflow: hidden;
  }
  li {
    @include list-item($sidebar-li, 10px);
  }
}



body {
  @include zero_padding_margin();
  min-height: 100%;
  background-color: $primary-jcolor;
}

form * {
  padding: 2.5px;
}

.navbar {
  background-color: $primary-jcolor;
  border: 0px;
  border-radius: 0;
  width: 100%;
  padding-right: 20px;
  li {
    @include selectable($primary-jcolor);
    padding: 5px;
  }
}

.navbar-right {
  margin-right: 0;
}

.alert {
  &-form {
    & > span {
      position: relative;
    }
   }
}

.submit-button {
  clear: both;
  float: right;
  padding: 20px;
  margin-top: 50px;
  margin-right: 150px;
}

.wrapper {
  &-app {
    border: 10px solid $light-grey;
    min-height: 100%;
    padding: 10px;
    position: relative;
  }
  &-login {
    width: 50%;
    margin: 0 auto;
    background: white;
    padding: 20px 0;
    text-align: center;
  }
  &-question {
    height: 470px;
    max-height: 100%;
    width:400px;
    margin-right: 100px;
    float: right;
    border: 1px solid white;
    ul {
      width: 100%;
      @include zero_padding_margin()
    }
    li {
      @include list-item($light-grey, 5px);
    }
  }
  &-crudy {

  }
}
