*, *:before, *:after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a{
  font-weight: bold;
  &:hover, &:active, &:link {
    text-decoration: none;
  }
}

html {
  min-height: 100%;
}

#main-navbar {
  width: 100%;
  padding:0;
}

.category-sidebar {
  border-right: 1px solid $primary-jcolor;
  height: 100%;
  width: 220px;
  background: $secondary-jcolor;
  ul {
    padding: 0;
    margin: 0 auto;
    li {
      height: 50px;
      width: 100%;
      display: block;
    }
  }
}

.category-sidebar li {
  @include selectable($secondary-jcolor);
  display: block;
}

body {
  height: 1024px;
  margin: 0 auto;
  padding: 0;
  background-color: $primary-jcolor;
}

form * {
  padding: 2.5px;
}

.navbar {
  background-color: $primary-jcolor;
  border: 0px;
  border-radius: 0;
  width: 100%;
  padding-right: 20px;
  li {
    @include selectable($primary-jcolor);
    padding: 5px;
  }
}

.navbar-right {
  margin-right: 0;
}

.alert {
  &-form {
    & > span {

    }
   }
}


.wrapper {
  &-app {
    border: 10px solid $light-grey;
    min-height: 100%;
    padding: 10px;
  }
  &-login {
    width: 50%;
    margin: 0 auto;
    background: white;
    padding: 20px 0;
    text-align: center;
  }
  &-crudy {

  }
}
