@mixin selectable($bg-color: lighten($primary-jcolor), $percent: 5) {
  background-color: $bg-color;
  &:hover {
    background-color: darken($bg-color, $percent);
  }
  &.active {
    background-color: lighten($bg-color, $percent);
  }
}

// TODO: MIXINY DO WSZELAKICH LIST ITEMOW
