// Color variables

$black: #262626;
$light-grey: #E8EAEA;
$dark-grey: #666;
$white: #FFF;

$primary-jcolor: #265178;
$secondary-jcolor: #0072C6;

$sidebar-li: darken(#cdd2d2,10);

$alert: #A00D19;


// Font variables
$primary-font-stack: "Roboto", Helvetica, sans-serif;
