.alert {
  color: red;
  font-weight: bold;
  &-form {

  }
  &-login {

  }
}

%list-item {
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}

.list-item-label {
  @extend %list-item;
  font-size: 1.4em;
}

.list-nav {
  @extend %list-item;
  font-size: 1.6em;
    text-shadow: 0 2px $black;
}
