<div class="wrapper-crudy">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#crudy-options" aria-expanded="false">
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="crudy-options">
        <ul class="nav navbar-nav">
          <li class="col-sm-12 col-lg-6"
              ng-class="{'active': crudy.displayCategories}"
              ng-click="crudy.toggleView()"
            <a>Categories</a>
          </li>
          <li "col-sm-12 col-lg-6"
              ng-class="{'active': crudy.displayQuestions}"
              ng-click="crudy.toggleView()"
              data-match-route="crudy.categories.html">
            <a>Questions</a>
          </li>
        </ul>
    </div>
  </nav>

  <div class="filter-window">

  </div>

  <categories ng-if="crudy.displayCategories"></categories>
  <questions ng-if="crudy.displayQuestions"></questions>


      <div class="list-frame">
        <h2>Category List</h2>
        <ul class="category-list">
          <li ng-repeat="category in DataModel.userData[userCategories]"
              ng-click="crudy.setCurrentCategory(category)">
              <button class="glyphicon" ng-class="{
                  'glyphicon-ok': crudy.isEditingCategory
                  'glyphicon-remove': !crudy.isEditingCategory
                  }">
              </button>
              <span>{{category.name}}</span>
              <button class="glyphicon glyphicon-remove"
                      ng-click="crudy.deleteResource(category)">
              </button>
          </li>
        </ul>
      </div>


      <div class="edit-frame">
        <h2>Question List</h2>
        <ul class="category-list">
          <li ng-if="crudy.currentCategory"
              ng-repeat="question in DataModel.userData[userQuestions] | crudy.currentCategory in question.selfCategories "
              ng-click="crudy.setCurrentQuestion(category)">
              <button class="glyphicon" ng-class="{
                  'glyphicon-ok': crudy.isEditingQuestion
                  'glyphicon-remove': !crudy.isEditingQuestion
                  }">
              </button>
              <span>{{category.name}}</span>
              <button class="glyphicon glyphicon-remove"
                      ng-click="crudy.deleteResource(question)">
              </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="question-window">

</div>
