<div class="wrapper-crudy container">

  <nav id="select-display" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#crudy-options" aria-expanded="false">
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="crudy-options">
        <ul class="nav row">
          <li class="col-sm-12 col-lg-6 list-nav"
              ng-class="{'active': crudy.displayCategories}"
              ng-click="crudy.toggleView()">
            <a ui-sref="crudy.categories">Categories</a>
          </li>
          <li class="col-sm-12 col-lg-6 list-nav"
              ng-class="{'active': crudy.displayQuestions}"
              ng-click="crudy.toggleView()"
              data-match-route="crudy.categories.html">
            <a ui-sref="crudy.questions">Questions</a>
          </li>
        </ul>
    </div>
  </nav>

  <div ui-view></div>

</div>
