<!-- sTODO: CATEGORY SIDEBAR JAKO DYREKTYWA KONIECZNIE -->

<div class="category-sidebar">
  <ul>
    <li class="list-item-label" ng-repeat="chosenCat in summary.chosenCategories track by $index"
      ng-click="summary.setCategory(chosenCat.id)"
      ng-class="{'marked': summary.getCategory() === chosenCat.id}">
      <p>
        {{chosenCat.data['description']}}
      </p>
    </li>
  </ul>
</div>


<div class="wrapper-summary">

  <ul class="picked-questions" >
    <li ng-repeat="question in DataModel.pickedQuestions | orderBy: '-recentlyHasBeen' ">
        <button type="button"
        class="btn btn-primary"
        aria-haspopup="true"
        aria-expanded="false">
          <span class="glyphicon glyphicon-th-list"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li
          ng-repeat="opt in question.data['options']">
            <p>
              {{opt}}
            </p>
          </li>
        </ul>
        <p>
          {{question.data['description']}}
        </p>
        <input
        type="checkbox"
        ng-model="checked"
        ng-click="summary.markAsAsked(question)"></button>
    </li>
  </ul>
</div>

<!-- USUN TO Z TYM CHECKBOXEM, BO CO JAK KTOS SIE POMYLI? -->
