<div class="category-sidebar">
  <ul>
    <li class="list-item-label" ng-repeat="userCat in generator.stuff['categories'] track by $index"
      ng-click="generator.setCategory(userCat.id)"
      ng-class="{'marked': generator.getCategory() === userCat.id}">
      <p>
        {{userCat.data}}
      </p>
    </li>
  </ul>
</div>


<div class="wrapper-summary">

  <ul class="picked-questions" >
    <li ng-repeat="question in DataModel.pickedQuestions | orderBy: '-recentlyHasBeen' ">
        <button
        ng-click="creator.editQuestion(question)"></button>
        <button></button>
        <input
        type="text"
        placeholder="{{question.description}}" />
        <input
        type="checkbox"
        ng-model="checked"
        ng-click="creator.markAsAsked(question)"></button>
    </li>
  </ul>
</div>

<!-- USUN TO Z TYM CHECKBOXEM, BO CO JAK KTOS SIE POMYLI? -->
